{% set helpText %}
  <p>
      Marking information as sensitive means that the information could cause harm or undermine the investigation of a crime if it were disclosed to the person on probation.
      For example, a victim’s personal details.
  </p>
  <p>
      Individuals can make a request for access to all information and records held on them called Subject Access Requests (SARs).
      Sensitive information will not be included in any SARs.
  </p>
{% endset %}

{{ govukDetails({
  summaryText: "Help with sensitive content",
  html: helpText
}) }}
