{% set knownAs = case.serviceUserPersonalDetails.preferredNameKnownAs %}
{% set name = case.serviceUserPersonalDetails.name + " (" + knownAs + ")" if knownAs else case.serviceUserPersonalDetails.name %}
{% set failureToComplyCount = allFailureToComplyAppointments(CRN, data) | length %}

<h1 class="govuk-heading-l govuk-!-margin-bottom-4">
  <span class="govuk-caption-l"><abbr title="Case reference number" style="text-decoration: none">CRN</abbr>: {{ CRN }}</span>
  {{ name }}
</h1>

<p>
  {% if failureToComplyCount > 0 %}
    <strong class="govuk-tag govuk-tag--link govuk-!-margin-right-1 govuk-tag--red">
      <a href="/cases/{{ CRN }}/compliance">Non-compliance</a>
    </strong>
  {% endif %}
  {{ appRiskFlag({ flag: case.riskOfSeriousHarmLevel, CRN: CRN, rosh: true }) }}
  {% for flag in case.riskFlags %}
    {{ appRiskFlag({ flag: flag, CRN: CRN }) }}
  {% endfor %}
</p>
