{% set alias = case.serviceUserPersonalDetails.aliases[0] %}
{% set name = case.serviceUserPersonalDetails.name + " (" + alias + ")" if alias else case.serviceUserPersonalDetails.name %}

<h1 class="govuk-heading-l govuk-!-margin-bottom-4">
  <span class="govuk-caption-l"><abbr title="Case reference number" style="text-decoration: none">CRN</abbr>: {{ CRN }}</span>
  {{ name }}
</h1>

<p>
  <span class="govuk-tag" style="border: 3px solid #d4351c; background: none; color: #d4351c; padding: 6px; margin-right: 5px">Non-compliance</span>
  {% for flag in case.riskBadges %}
    {{ appRiskFlag({ flag: flag, CRN: CRN }) }}
  {% endfor %}
</p>
