<h3 class="govuk-heading-m">
  {{ entry.timestamp | dateWithYear }}
  <span class="govuk-!-margin-left-1 govuk-!-font-size-19 govuk-!-font-weight-regular">{{ entry.timestamp | govukTime }}</span>
  <br />
  <a href="/cases/{{ CRN }}/other-communication/{{ entry.sessionId }}">
    {{ entry.type }} –
    {% if entry.from %}
    {{ case.serviceUserPersonalDetails.name if entry.from === 'Service user' else replaceDefaultUserWithSignedInUser(entry.from, data) }}
    {% endif %}
    {% if entry.to %}
    to {{ case.serviceUserPersonalDetails.name if entry.to === 'Service user' else replaceDefaultUserWithSignedInUser(entry.to, data) }}
    {% endif %}
    {% if entry.type == 'Note' %}
    Note by {{ replaceDefaultUserWithSignedInUser(entry.lastUpdatedBy, data) }}
    {% endif %}
  </a>
  {% if entry.sensitive === 'Yes' %}
    <div class="govuk-!-margin-top-1">
      {{ govukTag({ text: "Sensitive", classes: "govuk-tag--grey" }) }}
    </div>
  {% endif %}
</h3>

<div class="note-panel">
  {% set truncatedContents = entry.contents | truncate(250) %}
  {% set isTruncated = (truncatedContents !== entry.contents) %}
  <p class="govuk-body {{ 'govuk-!-margin-bottom-0' if not isTruncated }}">{{ truncatedContents | nl2br | safe }}</p>
  {% if isTruncated %}
    <p class="govuk-body govuk-!-margin-bottom-0">
      <a href="/cases/{{ CRN }}/other-communication/{{ entry.sessionId }}">View full details</a>
    </p>
  {% endif %}
</div>
