<h3 class="govuk-heading-s">
  <div class="govuk-caption-m govuk-font-size-19">
  <span class="govuk-!-font-weight-bold">{{ entry.type }}</span> – {{ entry.timestamp | dateWithYear }}
  </div>
  <a class="govuk-!-font-weight-bold govuk-!-margin-right-2" href="/cases/{{ CRN }}/other-communication/{{ entry.sessionId }}">
    {% if entry.from %}
    {{ case.serviceUserPersonalDetails.name if entry.from === 'Service user' else replaceDefaultUserWithSignedInUser(entry.from, data) }}
    {% endif %}
    {% if entry.to %}
    to {{ case.serviceUserPersonalDetails.name if entry.to === 'Service user' else replaceDefaultUserWithSignedInUser(entry.to, data) }}
    {% endif %}
    {% if entry.type == 'Note' %}
    Note by {{ replaceDefaultUserWithSignedInUser(entry.lastUpdatedBy, data) }}
    {% endif %}
  </a>
  {% if entry.sensitive %}
    {{ govukTag({ text: "Sensitive", classes: "govuk-tag--grey" }) }}
  {% endif %}
</h3>

<div class="note-panel">
  {% set truncatedContents = entry.contents | truncate(300) %}
  {% set isTruncated = (truncatedContents !== entry.contents) %}
  <p class="govuk-body {{ 'govuk-!-margin-bottom-0' if not isTruncated }}">{{ truncatedContents | nl2br | safe }}</p>
  {% if isTruncated %}
    <p class="govuk-body govuk-!-margin-bottom-0">
      <a href="/cases/{{ CRN }}/other-communication/{{ entry.sessionId }}">View full details</a>
    </p>
  {% endif %}
</div>
