{% extends "_wizard-form.html" %}
{% set title = 'What are you adding?' %}

{% block pageNavigation %}
  {{ govukBackLink({
    href: '/cases/' + CRN + '/communication'
  }) }}
{% endblock %}

{% block form %}
  {% set otherCommunicationHTML %}
    {{ govukRadios({
      items: [
        {
          text: "Phone call",
          value: 'phonecall'
        },
        {
          text: "Text message",
          value: 'text'
        },
        {
          text: "Email",
          value: 'email'
        }
      ]
    } | decorateFormAttributes(['add-communication', CRN, 'type-of-new-other-communication'])) }}
  {% endset %}

  {{ govukRadios({
    fieldset: {
      legend: {
        text: title,
        isPageHeading: true,
        classes: "govuk-label--xl govuk-!-margin-bottom-6"
      }
    },
    items: [
      {
        text: "Appointment attendance",
        value: 'confirm-attendance'
      } if previousAppointmentsWithoutOutcomes(CRN, data).length > 0,
      {
        text: "Appointment notes",
        value: 'appointment-notes'
      } if communicationEntries(CRN, data, {category: 'all-appointments'}).length > 0,
      {
        text: "Other communication",
        value: 'other',
        conditional: { html: otherCommunicationHTML }
      }
    ]
  } | decorateFormAttributes(['add-communication', CRN, 'type-of-thing-to-add'])) }}
{% endblock %}
