{% extends "layout.html" %}
{% set title = 'Address book' %}
{% block pageTitle %}{{ title }}{% endblock %}

{% block content %}

{% include "case/_case-service-user-banner.html" %}

{{ govukBackLink({
  text: "Back to personal details",
  href: "/cases/" + CRN + "/details"
}) }}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-l govuk-!-margin-bottom-7">{{ title }}</h1>
  </div>
</div>

<div class="govuk-tabs" data-module="govuk-tabs">
  <div class="app-case-updates">
  </div>
  <ul class="govuk-tabs__list">
    <li class="govuk-tabs__list-item">
      <a class="govuk-tabs__tab" href="address-book-professional">
        Professional contacts
      </a>
    </li>
    <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
      <a class="govuk-tabs__tab" href="address-book-personal">
        Personal contacts
      </a>
    </li>
  </ul>
</div>


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <div class="govuk-!-margin-bottom-7">
      <h2 class="govuk-heading-m">
        {{ case.serviceUserPersonalDetails.firstName }}’s contact details
      </h2>

      {{ govukSummaryList({
        classes: 'govuk-summary-list--no-border',
        rows: [
          {
            key: { text: "Address" },
            value: { html: case.serviceUserPersonalDetails.address.join('<br>') },
            actions: {
              items: [
                {
                  href: "/to-delius",
                  text: "Change",
                  visuallyHiddenText: "address on National Delius"
                }
              ]
            }
          },
          {
            key: { text: "Phone number" },
            value: { text: case.serviceUserPersonalDetails.phone },
            actions: {
              items: [
                {
                  href: "/to-delius",
                  text: "Change",
                  visuallyHiddenText: "phone number on National Delius"
                }
              ]
            }
          },
          {
            key: { text: "Email" },
            value: { text: case.serviceUserPersonalDetails.email },
            actions: {
              items: [
                {
                  href: "/to-delius",
                  text: "Change",
                  visuallyHiddenText: "email address on National Delius"
                }
              ]
            }
          }
        ]
      }) }}
    </div>

    {% for contact in case.personalContacts %}
      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

      <div class="govuk-!-margin-bottom-7">
        <h2 class="govuk-heading-m">{{ contact.name }}</h2>

        {{ govukSummaryList({
          classes: 'govuk-summary-list--no-border',
          rows: [
            {
              key: { text: "Relationship to " + case.serviceUserPersonalDetails.firstName },
              value: { text: contact.relationship },
              actions: {
                items: [
                  {
                    href: "/to-delius",
                    text: "Change",
                    visuallyHiddenText: "relationship on National Delius"
                  }
                ]
              }
            },
            {
              key: { text: "Address" },
              value: { html: contact.address.join('<br>') },
              actions: {
                items: [
                  {
                    href: "/to-delius",
                    text: "Change",
                    visuallyHiddenText: "address on National Delius"
                  }
                ]
              }
            },
            {
              key: { text: "Phone number" },
              value: { html: contact.phone },
              actions: {
                items: [
                  {
                    href: "/to-delius",
                    text: "Change",
                    visuallyHiddenText: "phone number on National Delius"
                  }
                ]
              }
            }
          ]
        }) }}
      </div>
    {% endfor %}

  </div>
</div>

{% endblock %}
