{% extends "layout.html" %}
{% set appointmentType = 'previous' if isInThePast({date: appointment['session-date'], time: appointment['session-start-time']}) else 'upcoming' %}
{% set title = appointment['type-of-session'] + ' with ' + replaceDefaultUserWithSignedInUser(appointment.lastUpdatedBy, data) %} %}
{% set isOutcomeRecorded = (not not appointment['did-service-user-comply'] ) %}
{% block pageTitle %}{{ title }}{% endblock %}

{% block beforeContent %}
{{ govukBreadcrumbs({
  items: [
    {
      text: "Cases",
      href: "/cases"
    },
    {
      text: case.serviceUserPersonalDetails.name,
      href: "/cases/" + CRN
    },
    {
      text: "Schedule" if appointmentType == 'upcoming' else "Activity log",
      href: "/cases/" + CRN + "/schedule" if appointmentType == 'upcoming' else "/cases/" + CRN + "/activity-log"
    } ,
    {
      text: title
    }
  ]
}) }}
{% endblock %}

{% block content %}

{{ govukNotificationBanner({
  text: messages[0],
  type: 'success'
}) if messages.length > 0 }}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l govuk-!-margin-bottom-6">
      <span class="govuk-caption-l">{{ appointmentType | capitalize }} appointment</span>
      {{ title }}

      {% if appointment['did-service-user-comply'] or appointment.sensitive === 'Yes' or appointment['session-counts-towards-rar'] === 'Yes' %}
      <div class="govuk-!-margin-top-1">
        {% if appointment['session-counts-towards-rar'] === 'Yes' %}
          {{ govukTag({text: 'RAR', classes: 'govuk-tag--purple'}) }}
        {% endif %}

        {% if appointment['did-service-user-comply'] === 'Yes' %}
          {{ govukTag({text: 'Complied', classes: 'govuk-tag--green'}) }}
        {% elseif appointment['did-service-user-comply'] === 'No' %}
          {{ govukTag({text: 'Failed to comply', classes: 'govuk-tag--red'}) }}
        {% elseif appointment['did-service-user-comply'] === 'Absent' %}
          {% if appointment['was-absence-acceptable'] === 'Yes' %}
            {{ govukTag({text: 'Acceptable absence', classes: 'govuk-tag--green'}) }}
          {% else %}
            {{ govukTag({text: 'Unacceptable absence', classes: 'govuk-tag--red'}) }}
          {% endif %}
        {% endif %}

        {% if appointment.sensitive === 'Yes' %}
          {{ govukTag({ text: "Sensitive", classes: "govuk-tag--grey" }) }}
        {% endif %}
      </div>
      {% endif %}
    </h1>
  </div>
</div>

{% if appointmentType === 'previous' and not isOutcomeRecorded %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="note-panel govuk-!-margin-bottom-6">
        {{ govukWarningText({
          html: 'Attendance not recorded<br /><a href="/confirm-attendance/' + CRN + '/' + appointment.sessionId + '">Record attendance</a>',
          iconFallbackText: 'Warning',
          classes: 'govuk-!-margin-bottom-0'
        }) }}
      </div>
    </div>
  </div>
{% endif %}

<h3 class="govuk-heading-l govuk-!-font-size-27">Appointment details</h3>

{% set showAction = false %}
{% set notesEditPath = "/cases/" + CRN + "/appointments/" + sessionId + '/notes' %}
{% include 'arrange-appointment/_appointment-details.html' %}

{% if isOutcomeRecorded %}
  <h3 class="govuk-heading-m govuk-!-font-size-27 govuk-!-margin-top-6">Outcome details</h3>

  {% set notesEditPath = "/cases/" + CRN + "/appointments/" + sessionId + '/notes' %}
  {% include 'confirm-attendance/_outcome-details.html' %}
{% endif %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    {% if appointmentType === 'upcoming' %}
      <p class="govuk-body govuk-!-margin-bottom-6">
        <a href="/confirm-attendance/{{ CRN }}/{{ sessionId }}">Record attendance and add notes</a>
      </p>
      <p class="govuk-body govuk-!-margin-bottom-6">
        <a href="/arrange-appointment/{{ CRN }}/{{ sessionId }}/cancel">Cancel appointment</a>
      </p>
    {% endif %}

    <p class="govuk-body-s govuk-hint-s">Last updated by {{ replaceDefaultUserWithSignedInUser(appointment.lastUpdatedBy, data) }} on {{ appointment.timestamp | dateWithYear }} at {{ appointment.timestamp | govukTimeWithMinutes }}</p>
  </div>
</div>

{% endblock %}
