{% extends "layout.html" %}
{% set title = 'Personal details' %}
{% block pageTitle %}{{ title }}{% endblock %}

{% block beforeContent %}
{{ govukBreadcrumbs({
  items: [
    {
      text: "Cases",
      href: "/cases"
    },
    {
      text: case.serviceUserPersonalDetails.name,
      href: "/cases/" + CRN
    },
    {
      text: title
    }
  ]
}) }}
{% endblock %}

{% block content %}

{% include "case/_case-service-user-banner.html" %}

{% set currentNavSection = 'details' %}
{% include "case/_case-nav.html" %}

<h1 class="govuk-heading-l govuk-!-margin-bottom-7">{{title}}</h1>

{% set contactDetails %}
  {% set address %}
    {% if case.serviceUserPersonalDetails.mainAddress.noFixedAbode %}
      No fixed abode<br />
      {{ case.serviceUserPersonalDetails.mainAddress.type }}
    {% endif %}

    {{ case.serviceUserPersonalDetails.mainAddress.address.join('<br>') | safe }}

    {% set addressDetails %}
      {{ govukSummaryList({
        rows: [
          {
            key: { text: "Address telephone" },
            value: { html: case.serviceUserPersonalDetails.mainAddress.telephoneNumber }
          } if case.serviceUserPersonalDetails.mainAddress.telephoneNumber,
          {
            key: { text: "Type of address" },
            value: { html: case.serviceUserPersonalDetails.mainAddress.type + (' (verified)' if case.serviceUserPersonalDetails.mainAddress.typeVerified else ' (not verified)') }
          },
          {
            key: { text: "Start date" },
            value: { html: case.serviceUserPersonalDetails.mainAddress.startDate | dateWithYear }
          },
          {
            key: { text: "Notes" },
            value: { html: case.serviceUserPersonalDetails.mainAddress.notes | nl2br }
          } if case.serviceUserPersonalDetails.mainAddress.notes
        ]
      }) }}
    {% endset %}

    {{ govukDetails({
      summaryText: "View address details",
      classes: 'govuk-!-margin-top-2 govuk-!-margin-bottom-0',
      html: addressDetails
    }) }}
  {% endset %}

  {% set personalContacts %}
    {% if case.personalContacts.length > 0 %}
      <ul class="govuk-list">
        {% for contact in case.personalContacts %}
          <li>
            <p>
              {{ contact.relationshipType }}:<br />
              <a href="/cases/{{ CRN }}/personal-contact/{{ contact.name | toSlug }}">{{ contact.name }} – {{ contact.relationship }}</a>
            </p>
          </li>
        {% endfor %}
      </ul>
    {% else %}
      None
    {% endif %}
  {% endset %}

  {{ govukSummaryList({
    rows: [
      {
        key: { text: "Phone number" },
        value: { html: case.serviceUserPersonalDetails.phone }
      },
      {
        key: { text: "Email address" },
        value: { html: case.serviceUserPersonalDetails.email }
      },
      {
        key: { text: "Main address" },
        value: { html: address }
      },
      {
        key: { text: "Other addresses" },
        value: { html: '
        <ul class="govuk-list">
          <li>2 other current addresses</li>
          <li>10 previous addresses</li>
        </ul>

        <p><a href="#">View all addresses</a></p>' }
      },
      {
        key: { text: "Personal contacts" },
        value: { html: personalContacts }
      }
    ]
  }) }}

  <p class="govuk-!-margin-bottom-0 govuk-!-margin-top-4 govuk-body-s govuk-hint-s">
    Last updated 6 January 2021
  </p>
{% endset %}

{{ appSummaryCard({
  titleText: "Contact details",
  classes: 'govuk-!-margin-bottom-6 app-summary-card--large-title',
  html: contactDetails,
  actions: {
    items: [
      {
        href: "#",
        text: "Change in Delius"
      }
    ]
  } if false
}) }}

{% set personalDetails %}
  {% set dateOfBirthAndAge %}
    {{ case.serviceUserPersonalDetails.dateOfBirth | dateWithYear }} ({{ yearsSince(case.serviceUserPersonalDetails.dateOfBirth) }} years
  old)
  {% endset %}

  {% set disabilitiesAndAdjustments %}
    {% if case.serviceUserPersonalDetails.disabilitiesAndAdjustments.length > 0 %}
      <ul class="govuk-list">
      {% for disability in case.serviceUserPersonalDetails.disabilitiesAndAdjustments %}
        <li>
          {{ disability.disability }}:
          {% if disability.adjustments.length > 0 %}
            {% set commaJoiner = joiner(', ') %}
            {% for adjustment in disability.adjustments %}
              {{ commaJoiner() }}
              {{ adjustment.adjustment }}
            {% endfor %}
          {% else %}
            No adjustments
          {% endif %}
        </li>
      {% endfor %}
      </ul>
      <p><a href="/cases/{{ CRN }}/disabilities-and-adjustments">View details and notes</a></p>
    {% else %}
      None
    {% endif %}
  {% endset %}

  {% set circumstances %}
    {% if case.serviceUserPersonalDetails.circumstances.length > 0 %}
      <ul class="govuk-list">
      {% for circumstance in case.serviceUserPersonalDetails.circumstances %}
        <li>
          {{ circumstance.type }}: {{ circumstance.subType }}
        </li>
      {% endfor %}
      </ul>
      <p><a href="/cases/{{ CRN }}/circumstances">View details and previous circumstances</a></p>
    {% else %}
      None
    {% endif %}
  {% endset %}

  {% set documents %}
    {% set documents = case.currentOrder.personalDocuments %}
    <ul class="moj-timeline__documents govuk-!-margin-top-0">
      {% for doc in documents %}
      <li class="moj-timeline__document-item">
        <a class="moj-timeline__document-link" href="#"><strong>{{ doc.name }}</strong></a><br>
        <span style="padding-left: 25px;">
          {% if doc.lastUpdateDate %}
            Last updated {{ doc.lastUpdateDate | dateWithYearShortMonth }}
          {% else %}
            <span class="govuk-hint-s">Unavailable</span>
          {% endif %}
        </span>
      </li>
      {% endfor %}
    </ul>
  {% endset %}

  {{ govukSummaryList({
    rows: [
      {
        key: { text: "Name" },
        value: { text: case.serviceUserPersonalDetails.name }
      },
      {
        key: { text: "Date of birth" },
        value: { text: dateOfBirthAndAge }
      },
      {
        key: { text: "Preferred name/Known as" },
        value: { text: case.serviceUserPersonalDetails.preferredNameKnownAs }
      } if case.serviceUserPersonalDetails.preferredNameKnownAs,
      {
        key: { text: "Aliases" },
        value: { html: case.serviceUserPersonalDetails.aliases.join(', ') | default('None known', true) }
      },
      {
        key: { text: "Previous name" },
        value: { text: case.serviceUserPersonalDetails.previousName }
      } if case.serviceUserPersonalDetails.previousName,
      {
        key: { text: "Preferred language" },
        value: { text: case.serviceUserPersonalDetails.preferredLanguage + ' (interpreter needed)' if case.serviceUserPersonalDetails.interpreterNeeded else case.serviceUserPersonalDetails.preferredLanguage }
      },
      {
        key: { text: "Current circumstances" },
        value: { html: circumstances }
      },
      {
        key: { text: "Disabilities and adjustments" },
        value: { html: disabilitiesAndAdjustments }
      },
      {
        key: { text: "PNC" },
        value: { html: case.PNC }
      },
      {
        key: { text: "CRN" },
        value: { html: case.CRN }
      },
      {
        key: { text: "Personal documents" },
        value: { html: documents }
      }
    ]
  }) }}

  <p class="govuk-!-margin-bottom-0 govuk-!-margin-top-4 govuk-body-s govuk-hint-s">
    Last updated 6 January 2021
  </p>
{% endset %}

{{ appSummaryCard({
  titleText: "Personal details",
  classes: 'govuk-!-margin-bottom-6 app-summary-card--large-title',
  html: personalDetails,
  actions: {}
}) }}

{% set equality %}
  {{ govukSummaryList({
    rows: [
      {
        key: { text: "Religion or belief" },
        value: { text: case.serviceUserPersonalDetails.religion }
      },
      {
        key: { text: "Sex" },
        value: { text: case.serviceUserPersonalDetails.sex }
      },
      {
        key: { text: "Gender identity" },
        value: { text: case.serviceUserPersonalDetails.genderIdentity }
      } if case.serviceUserPersonalDetails.genderIdentity,
      {
        key: { text: "Self-described gender" },
        value: { text: case.serviceUserPersonalDetails.selfDescribedGender }
      } if case.serviceUserPersonalDetails.selfDescribedGender,
      {
        key: { text: "Sexual orientation" },
        value: { text: case.serviceUserPersonalDetails.sexualOrientation }
      }
    ]
  }) }}

  <p class="govuk-!-margin-top-2 govuk-!-margin-bottom-0"><a href="#">View more on Delius</a></p>
{% endset %}

{{ appSummaryCard({
  titleText: "Equality monitoring",
  classes: 'govuk-!-margin-bottom-6 app-summary-card--large-title',
  html: equality,
  actions: {}
}) }}
{% endblock %}
