{% extends "layout.html" %}
{% set title = 'Risk flags' %}
{% block pageTitle %}{{ title }}{% endblock %}

{% block beforeContent %}
{{ govukBreadcrumbs({
  items: [
    {
      text: "Cases",
      href: "/cases"
    },
    {
      text: case.serviceUserPersonalDetails.name,
      href: "/cases/" + CRN
    },
    {
      text: title
    }
  ]
}) }}
{% endblock %}

{% block content %}

{% include "case/_case-service-user-banner.html" %}

{% set currentNavSection = 'flags' %}
{% include "case/_case-nav.html" %}

<h1 class="govuk-heading-l">{{ title }}</h1>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <p>Risk flags (registrations) show circumstances that need prominent and constant visibility.</p>
    <p>Review flags regularly, and remove them when they are longer appropriate.</p>
  </div>
</div>

<p>
  {{ govukButton({
    text: 'Add flag',
    href: '#',
    classes: 'govuk-button govuk-!-margin-bottom-2'
  }) }}
</p>

<h2 class="govuk-heading-m govuk-!-font-size-27 govuk-!-margin-bottom-2">Current flags</h2>

{% set categoryHtml %}
  {{ govukSummaryList({
    rows: [
      {
        key: {
          html: govukTag({ text: 'Alerts', classes: 'govuk-tag--pink' })
        },
        value: {
          text: "Description of alerts, for example Weapons or Serious group offending"
        }
      },
      {
        key: {
          html: govukTag({ text: 'Safeguarding', classes: 'govuk-tag--turquoise' })
        },
        value: {
          text: "Description of safeguarding, for example Victim or Vulnerable"
        }
      },
      {
        key: {
          html: govukTag({ text: 'Public protection', classes: 'govuk-tag--purple' })
        },
        value: {
          text: "Description of public protection, for example Domestic abuse"
        }
      },
      {
        key: {
          html: govukTag({ text: 'Information', classes: 'govuk-tag--grey' })
        },
        value: {
          text: "Description of information, for example Integrated Offender Management (IOM)"
        }
      }
    ]
  }) }}
{% endset %}

<!-- {{ govukDetails({
  summaryText: "Risk flag categories",
  html: categoryHtml
}) }} -->

<table class="govuk-table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th class="govuk-table__header" style="width: 30%">Flag</th>
      <th class="govuk-table__header" style="width: 55%">Notes</th>
      <th class="govuk-table__header" style="width: 15%">Review due</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    {% for flag in case.riskFlags %}
      {% if not flag.rosh %}
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">{{ appRiskFlag({ flag: flag, CRN: CRN }) }}</td>
          <td class="govuk-table__cell app-flags-table-cell">{{ flag.notes }}</td>
          <td class="govuk-table__cell app-flags-table-cell">{{ flag.reviewDue | dateWithYear }}</td>
        </tr>
      {% endif %}
    {% endfor %}
  </tbody>
</table>

<h2 class="govuk-heading-m govuk-!-font-size-27">Old flags</h2>
<table class="govuk-table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th class="govuk-table__header" style="width: 30%">Flag</th>
      <th class="govuk-table__header" style="width: 55%">Notes</th>
      <th class="govuk-table__header" style="width: 20%">Date removed</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">{{ govukTag({ html: '<a href="#">Weapons</a>', classes: 'govuk-tag--link govuk-tag--grey' }) }}</td>
      <td class="govuk-table__cell app-flags-table-cell">Caught carrying a knife</td>
      <td class="govuk-table__cell app-flags-table-cell">Today</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">{{ govukTag({ html: '<a href="#">Domestic abuse</a>', classes: 'govuk-tag--link govuk-tag--grey' }) }}</td>
      <td class="govuk-table__cell app-flags-table-cell">Against ex-partner</td>
      <td class="govuk-table__cell app-flags-table-cell">Today</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">{{ govukTag({ html: '<a href="#">Victim</a>', classes: 'govuk-tag--link govuk-tag--grey' }) }}</td>
      <td class="govuk-table__cell app-flags-table-cell">Level 2, Category 3</td>
      <td class="govuk-table__cell app-flags-table-cell">2 Jan 2021</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">{{ govukTag({ html: '<a href="#">Vulnerable</a>', classes: 'govuk-tag--link govuk-tag--grey' }) }}</td>
      <td class="govuk-table__cell app-flags-table-cell">Level 2, Category 3</td>
      <td class="govuk-table__cell app-flags-table-cell">10 Nov 2020</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">{{ govukTag({ html: '<a href="#">IOM</a>', classes: 'govuk-tag--link govuk-tag--grey' }) }}</td>
      <td class="govuk-table__cell app-flags-table-cell">Integrated Offender Officer assigned</td>
      <td class="govuk-table__cell app-flags-table-cell">10 Nov 2020</td>
    </tr>
  </tbody>
</table>
{% endblock %}
