{% extends "layout.html" %}
{% set title = flag.text %}
{% block pageTitle %}{{ title }}{% endblock %}

{% block beforeContent %}
{{ govukBreadcrumbs({
  items: [
    {
      text: "Cases",
      href: "/cases"
    },
    {
      text: case.serviceUserPersonalDetails.name,
      href: "/cases/" + CRN
    },
    {
      text: "Risk",
      href: "/cases/" + CRN + "/risk"
    },
    {
      text: title
    }
  ]
}) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">
      <span class="govuk-caption-xl">Risk flag</span>
      {{ title }}
    </h1>
  </div>
</div>

<!-- {{ govukButton({
  text: 'Review or amend flag',
  href: '#'
}) }} -->

{{ govukSummaryList({
  rows: [
    {
      key: {
        text: "Next review"
      },
      value: {
        text: flag.reviewDue | dateWithYear
      },
      actions: {
        items: [
          {
            href: "#",
            text: "Review risk flag"
          }
        ]
      }
    },
    {
      key: {
        text: "Added"
      },
      value: {
        text: flag.dateAdded | dateWithYear + " by Mark Berridge"
      }
    },
    {
      key: {
        text: "Most recent review"
      },
      value: {
        text: flag.mostRecentReviewDate | dateWithYear + " by Mark Berridge" if flag.mostRecentReviewDate else 'Not reviewed yet'
      },
      actions: {
        items: [
          {
            href: "#",
            text: "View review"
          }
        ]
      } if flag.mostRecentReviewDate
    },
    {
      key: {
        text: "Notes"
      },
      value: {
        text: flag.notes
      },
      actions: {
        items: [
          {
            href: "#",
            text: "Change",
            visuallyHiddenText: "notes"
          }
        ]
      }
    }
  ]
}) }}

<p class="govuk-!-margin-bottom-7">
  <a href="#">Remove flag</a>
</p>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-l">Guidance using this risk flag</h2>
    <h3 class="govuk-heading-m">Purpose of use</h3>

    <p>To identify offenders convicted under the Sexual Offences Act 2003 and therefore subject to the notification period and requirements of the Sex Offender Register.</p>

    <h3 class="govuk-heading-m">Suggested review frequency</h3>

    <p>Every 3 months</p>

    <h3 class="govuk-heading-m">Termination</h3>

    <p>Remove at termination, except for life sentences.</p>

    <h3 class="govuk-heading-m">Further information</h3>

    <p>Notification Periods for offenders sentenced under the Sexual Offences Act 2003:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>Imprisonment for a fixed period of 30 months or more, Imprisonment for an indefinite period, imprisonment for public protection, or admission to hospital under restriction order, or subject to an Order for Lifelong Restriction: Indefinitely </li>
      <li>Imprisonment for more than 6 months but less than 30 months: 10 years</li>
      <li>Imprisonment for 6 months or less, or admission to hospital without restriction order: 7 years</li>
      <li>Caution: 2 years</li>
      <li>Conditional discharge or (in Scotland) a probation order: Period of discharge or probation</li>
      <li>Any other: 5 years</li>
      <li>Finite notification periods are halved if the person is under 18 when convicted or cautioned.</li>
    </ul>

    <p>If an offender is on the register for an indefinite period they can apply to the police area managing them to come off the register 15 years from their initial notification (if made upon release from prison) or first registration upon release from custody (in case they registered upon conviction).</p>

    <p>(Also extended licences will impact on this as well and will render people to be placed on the register indefinitely – stated case is R v Wiles.)
  </div>
</div>
{% endblock %}
