{% extends "layout.html" %}
{% set alias = case.serviceUserPersonalDetails.aliases[0] %}
{% set name = case.serviceUserPersonalDetails.name + " (" + alias + ")" if alias else case.serviceUserPersonalDetails.name %}
{% set title = name %}
{% block pageTitle %}{{ title }}{% endblock %}

{% block content %}

{% include "case/_case-service-user-banner.html" %}

{% set currentNavSection = 'quick-look' %}
{% include "case/_case-nav.html" %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l govuk-!-margin-bottom-7">Overview</h1>

    <h2 class="govuk-heading-m">
      Offences
    </h2>
    <p class="govuk-body">{{ case.currentOrder.description }}</p>

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <h2 class="govuk-heading-m">
      Sentence
    </h2>
    <p class="govuk-body">{{ case.currentOrder.type }}</p>

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
    <h2 class="govuk-heading-m">
      Progress
    </h2>

    <dl class="govuk-summary-list govuk-summary-list--no-border">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Sentence
          </dt>
          <dd class="govuk-summary-list__value">
            {{ case.currentOrder.progressInMonths }} months elapsed (of {{ case.currentOrder.lengthInMonths }} months)
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            RAR
          </dt>
          <dd class="govuk-summary-list__value">
            {{ case.currentOrder.requirements.rar.progressInDays }} days completed (of {{ case.currentOrder.requirements.rar.lengthInDays }} days)
          </dd>
        </div>
    </dl>
    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <h2 class="govuk-heading-m">
      Risk flags
    </h2>

    <p><a href="/cases/{{ CRN }}/flags">Add, review or remove flags</a></p>

    <dl class="govuk-summary-list govuk-summary-list--no-border">
      {% for flag in case.riskBadges %}
        {% if not flag.rosh %}
          {% set tagHtml %}
            <a href="/cases/{{ CRN }}/flag/{{ flag.text | toSlug }}">{{ flag.text }}</a>
          {% endset %}
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              {{ govukTag({ html: tagHtml, classes: 'govuk-tag--link govuk-tag--' + flag.class }) }}
            </dt>
            <dd class="govuk-summary-list__value">
              {{ flag.notes }}
            </dd>
          </div>
        {% endif %}
      {% endfor %}
    </dl>

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <h2 class="govuk-heading-m">
      Risks
    </h2>

    <p>
      Risk of Serious Harm (ROSH)
      <span class="govuk-tag govuk-tag--{{ case.riskOfSeriousHarmLevel.class }} govuk-!-margin-left-2">{{ case.riskOfSeriousHarmLevel.text }}</span>
    </p>

    {% set riskTable %}
    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th class="govuk-table__header">Risk to</th>
          <th class="govuk-table__header">In community</th>
          <th class="govuk-table__header">In custody</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        {% for risks in case.riskOfHarm %}
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">{{ risks.riskTo }}</td>
          <td class="govuk-table__cell">
            <span class="govuk-tag govuk-tag--{{ risks.inCommunity.class }}">{{ risks.inCommunity.text }}</span>
          </td>
          <td class="govuk-table__cell">
            <span class="govuk-tag govuk-tag--{{ risks.inCustody.class }}">{{ risks.inCustody.text }}</span>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% endset %}

    {{ govukDetails({
      summaryText: "View those at risk",
      html: riskTable
    }) }}

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
    <h2 class="govuk-heading-m">
      Criminogenic needs
    </h2>

    <ul class="govuk-list govuk-list--bullet">
      {% for need in case.criminogenicNeeds %}
        <li>{{ need }}</li>
      {% endfor %}
    </ul>

    <p>
      <a href="https://oasys.az.justice.gov.uk/eor/f?p=100:101::::::">View sentence plan (in OASys)</a>
    </p>

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
    <h2 class="govuk-heading-m">
      Contact details
    </h2>
    {{ govukSummaryList({
      classes: 'govuk-summary-list--no-border',
      rows: [
        {
          key: { text: "Address" },
          value: { html: case.serviceUserPersonalDetails.address.join('<br>') }
        },
        {
          key: { text: "Phone number" },
          value: { text: case.serviceUserPersonalDetails.phone }
        },
        {
          key: { text: "Email" },
          value: { text: case.serviceUserPersonalDetails.email }
        }
      ]
    }) }}

    {% if case.personalContacts.length > 0 %}
    <p class="govuk-body">
      <a href="/cases/{{ CRN }}/address-book-personal">View all personal contacts ({{ case.personalContacts.length }})</a>
    </p>
  {% endif %}

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <h2 class="govuk-heading-m">
      Personal details
    </h2>
    {{ govukSummaryList({
      classes: 'govuk-summary-list--no-border',
      rows: [
        {
          key: { text: "Preferred language" },
          value: { text: case.serviceUserPersonalDetails.preferredLanguage }
        },
        {
          key: { text: "Disabilities and adjustments" },
          value: { text: case.serviceUserPersonalDetails.disabilitiesAndAdjustments.join(', ') | default('<span class="govuk-hint-s">None known</span>', true) | safe }
        }
      ]
      }) }}

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

      <h2 class="govuk-heading-m">
        Circumstances
      </h2>

      {{ govukSummaryList({
        classes: 'govuk-summary-list--no-border',
        rows: [
          {
            key: { text: "Employment status" },
            value: { text: case.serviceUserPersonalDetails.circumstances.employment }
          },
          {
            key: { text: "Housing status" },
            value: { text: case.serviceUserPersonalDetails.circumstances.housingStatus }
          },
          {
            key: { text: "Safeguarding issues" },
            value: { text: case.serviceUserPersonalDetails.circumstances.safeguardingIssues.join(', ') or 'None' }
          }
        ]
        }) }}

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
    <h2 class="govuk-heading-m">
      Probation history
    </h2>

    <div class="app-card app-card--blue govuk-!-margin-bottom-6">
      <strong>Probation status</strong><br>
      {{ case.status }}
    </div>

    <p class="govuk-body">
      <ul class="govuk-list">
        <li>
          <span class="govuk-tag govuk-tag--grey">{{ case.breachesCount }}</span> Breaches
        </li>
        <li>
          <span class="govuk-tag govuk-tag--grey">{{ case.restrainingOrdersCount }}</span> Restraining orders
        </li>
      </ul>
    </p>

    {% if case.previousOrders.length > 0 %}
      <p class="govuk-body">
        <a class="govuk-heading-s govuk-!-margin-top-0 govuk-!-margin-bottom-1" href="/cases/{{ CRN }}/previous-orders">Previous orders ({{ case.previousOrders.length }})</a>
        Last ended on {{ case.previousOrders[0].endDate | dateWithYearShortMonth }}
      </p>
    {% endif %}

    {% if case.professionalContacts.length > 0 %}
      <p class="govuk-body">
        <a class="govuk-heading-s" href="/cases/{{ CRN }}/address-book-professional">Previous professional contacts ({{ case.professionalContacts.length }})</a>
      </p>
    {% endif %}

  </div>

  <div class="govuk-grid-column-one-third">

    {% set nextApp = nextAppointment(CRN, data) %}
    <div class="app-card app-card--blue govuk-!-margin-bottom-3">
      <strong>
        The next appointment is
      </strong><br>
      {% if nextApp %}
        <strong>
          {{ nextApp['session-date'] | dateWithDayAndWithoutYear }} at
          {{ nextApp['session-start-time'] | govukTime }}
        </strong><br>
        <strong>{{ nextApp['type-of-session'] }}</strong>
      {% else %}
        <strong>No appointments scheduled</strong>
      {% endif %}
    </div>

    <h2 class="govuk-heading-m govuk-!-margin-top-6">
      Appointment attendance
    </h2>

    <p class="govuk-body">
      <ul class="govuk-list">
        <li>
          <span class="govuk-tag govuk-tag--green">{{ case.appointmentStatistics.complied }}</span> Complied
        </li>
        <li>
          <span class="govuk-tag govuk-tag--green">{{ case.appointmentStatistics.acceptableAbsence }}</span> Acceptable absence
        </li>
        <li>
          <span class="govuk-tag govuk-tag--red">{{ case.appointmentStatistics.failureToComply }}</span> Failure to comply
        </li>
      </ul>
    </p>
  </div>
</div>

{% endblock %}
