{% extends "layout.html" %}
{% set entry = data['communication'][CRN][sessionId] %}
{%- set title -%}
  {%- if entry.to === 'Service user' -%}
    {{ entry.type }} to {{ case.serviceUserPersonalDetails.name }}
  {%- elif entry.to -%}
    {{ entry.type }} to {{ replaceDefaultUserWithSignedInUser(entry.to, data) }}
  {%- else -%}
    {{ entry.type }}
  {%- endif -%}
{%- endset -%}

{% block pageTitle %}{{ title }}{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back to activity log",
    href: "/cases/" + CRN + "/activity-log"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">
      <span class="govuk-caption-l">Other communication</span>
      {{ title }}
    </h1>

    {% if entry.sensitive === 'Yes' %}
      {{ govukTag({ text: "Sensitive", classes: "govuk-tag--grey govuk-!-margin-bottom-6" }) }}
    {% endif %}
  </div>
</div>

{% set uploadedFilesHtml %}
  {% for file in entry['filenames'] | forceArray %}
    <a href="#">{{ file }}</a><br />
  {% endfor %}
{% endset %}

{{ govukSummaryList({
  classes: 'govuk-!-margin-bottom-9',
  rows: [
    {
      key: {
        text: "From"
      },
      value: {
        text: case.serviceUserPersonalDetails.name if entry.from === 'Service user' else replaceDefaultUserWithSignedInUser(entry.from, data)
      }
    } if entry.from,
    {
      key: {
        text: "To"
      },
      value: {
        text: case.serviceUserPersonalDetails.name if entry.to === 'Service user' else replaceDefaultUserWithSignedInUser(entry.to, data)
      }
    } if entry.to,
    {
      key: {
        text: "Date"
      },
      value: {
        text: entry.timestamp | dateWithYear
      }
    },
    {
      key: {
        text: "Time"
      },
      value: {
        text: entry.timestamp | govukTime
      }
    },
    {
      key: {
        text: "Details"
      },
      value: {
        text: entry.contents | nl2br | safe or 'None'
      }
    },
    {
      key: { text: "Uploaded files" },
      value: {
        html: uploadedFilesHtml
      }
    } if entry['filenames'].length > 0
  ]
}) }}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <p class="govuk-body-s govuk-hint-s">Last updated by {{ replaceDefaultUserWithSignedInUser(entry.lastUpdatedBy, data) }} on {{ entry.timestamp | dateWithYear }} at {{ entry.timestamp | govukTimeWithMinutes }}</p>
  </div>
</div>

{% endblock %}
