{% extends "layout.html" %}
{% set title = personalContact.name + ' – ' + personalContact.relationship %}
{% block pageTitle %}{{ title }}{% endblock %}

{% block beforeContent %}
{{ govukBreadcrumbs({
  items: [
    {
      text: "Cases",
      href: "/cases"
    },
    {
      text: case.serviceUserPersonalDetails.name,
      href: "/cases/" + CRN
    },
    {
      text: "Personal details",
      href: "/cases/" + CRN + "/details"
    },
    {
      text: "Personal contact: " + title
    }
  ]
}) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      <span class="govuk-caption-xl">{{ personalContact.relationshipType }}</span>
      {{ title }}
    </h1>

    {{ govukSummaryList({
      rows: [
        {
          key: { text: "Name" },
          value: { text: personalContact.name }
        },
        {
          key: { text: "Relationship type" },
          value: { text: personalContact.relationshipType }
        },
        {
          key: { text: "Relationship" },
          value: { text: personalContact.relationship }
        },
        {
          key: { text: "Address" },
          value: { html: personalContact.address.join('<br>') }
        } if personalContact.address.length > 0,
        {
          key: { text: "Phone number" },
          value: { html: personalContact.phone }
        } if personalContact.phone,
        {
          key: { text: "Email" },
          value: { html: personalContact.email }
        } if personalContact.email,
        {
          key: { text: "Start date" },
          value: { html: personalContact.startDate | dateWithYear }
        } if personalContact.startDate,
        {
          key: { text: "Notes" },
          value: { html: personalContact.notes if personalContact.notes else 'No notes' }
        }
      ]
    }) }}

    <p>
      <a href="/to-delius">Change contact details</a>
    </p>
  </div>
</div>
{% endblock %}
