{% set roshHtml %}
  {% set overallRiskHtml %}
    <p>
      {{ govukTag({
        text: case.riskOfSeriousHarmLevel.text + ' risk of serious harm',
        classes: case.riskOfSeriousHarmLevel.class
      }) }}
    </p>
    <!-- <p>There are identifiable indicators of risk of serious harm. The offender has the potential to cause serious harm but is unlikely to do so unless there is a change in circumstances, for example, failure to take medication, loss of accommodation, relationship breakdown, drug or alcohol misuse.</p> -->
  {% endset %}

  {% set veryHighRiskOfHarm %}
    <ul class="govuk-list">
      {% for risk in filterRiskByRiskLevel(case, 'Very high') %}
        <li>{{ risk.riskTo }}</li>
      {% endfor %}
    </ul>
  {% endset %}

  {% set highRiskOfHarm %}
    <ul class="govuk-list">
      {% for risk in filterRiskByRiskLevel(case, 'High') %}
        <li>{{ risk.riskTo }}</li>
      {% endfor %}
    </ul>
  {% endset %}

  {% set mediumRiskOfHarm %}
    <ul class="govuk-list">
      {% for risk in filterRiskByRiskLevel(case, 'Medium') %}
        <li>{{ risk.riskTo }}</li>
      {% endfor %}
    </ul>
  {% endset %}

  {% set lowRiskOfHarm %}
    <ul class="govuk-list">
      {% for risk in filterRiskByRiskLevel(case, 'Low') %}
        <li>{{ risk.riskTo }}</li>
      {% endfor %}
    </ul>
  {% endset %}

  {{ govukSummaryList({
    rows: [
      {
        key: { text: "Overall" },
        value: { html: overallRiskHtml }
      },
      {
        key: { text: "Very high risk" },
        value: { html: veryHighRiskOfHarm }
      } if filterRiskByRiskLevel(case, 'Very high').length > 0,
      {
        key: { text: "High risk" },
        value: { html: highRiskOfHarm }
      } if filterRiskByRiskLevel(case, 'High').length > 0 ,
      {
        key: { text: "Medium risk" },
        value: { html: mediumRiskOfHarm }
      } if filterRiskByRiskLevel(case, 'Medium').length > 0,
      {
        key: { text: "Low risk" },
        value: { html: lowRiskOfHarm }
      } if filterRiskByRiskLevel(case, 'Low').length > 0,
      {
        key: { text: "Who is at risk" },
        value: { html: case.risk.whoIsAtRisk if case.risk.whoIsAtRisk else 'No detail given' }
      },
      {
        key: { text: "Nature of risk" },
        value: { html: case.risk.natureOfRisk if case.risk.natureOfRisk else 'No detail given' }
      },
      {
        key: { text: "When is risk greatest" },
        value: { html: case.risk.riskImminence if case.risk.riskImminence else 'No detail given' }
      }
    ]
  }) }}
{% endset %}

{{ appSummaryCard({
  titleText: "Risk of serious harm (ROSH) in the community",
  classes: 'govuk-!-margin-bottom-6 app-summary-card--large-title',
  html: roshHtml,
  actions: {
    items: [
      {
        href: "#",
        text: "View risk assessment on OASys"
      }
    ]
  }
}) }}
