{% extends "_wizard-form.html" %}
{% set buttonText = 'Add phone call' %}
{% set title = 'Check your answers before adding this phone call' %}
{% set path = '/add-phone-call/' + CRN + '/' + sessionId %}

{% block form %}
  <h1 class="govuk-heading-xl">{{ title }}</h1>

  {{ govukSummaryList({
    rows: [
      {
        key: { text: "From" },
        value: { text: data['communication'][CRN][sessionId]['from'] if data['communication'][CRN][sessionId]['from'] !== 'other' else data['communication'][CRN][sessionId]['other-from'] },
        actions: {
          items: [
            {
              href: path + '/new',
              text: "Change",
              visuallyHiddenText: "sender"
            }
          ]
        }
      },
      {
        key: { text: "To" },
        value: { text: data['communication'][CRN][sessionId]['to'] if data['communication'][CRN][sessionId]['to'] !== 'other' else data['communication'][CRN][sessionId]['other-to'] },
        actions: {
          items: [
            {
              href: path + '/receiver',
              text: "Change",
              visuallyHiddenText: "receipient"
            }
          ]
        }
      },
      {
        key: { text: "Date" },
        value: { text: (today() | dateWithYear if data['communication'][CRN][sessionId]['type-of-date'] === 'Today' else data['communication'][CRN][sessionId]['date'] | dateWithYear) + ' at ' + data['communication'][CRN][sessionId]['time'] },
        actions: {
          items: [
            {
              href: path + '/when',
              text: "Change",
              visuallyHiddenText: "date"
            }
          ]
        }
      },
      {
        key: { text: "Details" },
        value: { text: data['communication'][CRN][sessionId]['contents'] },
        actions: {
          items: [
            {
              href: path + '/details',
              text: "Change",
              visuallyHiddenText: "details"
            }
          ]
        }
      },
      {
        key: { text: "Sensitive" },
        value: { text: data['communication'][CRN][sessionId]['sensitive'] },
        actions: {
          items: [
            {
              href: path + '/sensitive',
              text: "Change",
              visuallyHiddenText: "if this was sensitive"
            }
          ]
        }
      }
    ]
  }) }}
{% endblock %}
