{% extends "_wizard-form.html" %}
{% set userSentEmail = communication['from'] == userName(data) %}
{% set title = 'When did you make the phone call?' if userSentEmail else 'When was the phone call?' %}
{% set timeLabel = 'What time was the call?' %}

{% block form %}
  {% set otherDayHTML %}
    {{ govukDateInput({
      id: 'session-date',
      fieldset: {
        legend: {
          text: "Date",
          classes: "govuk-label--s"
        }
      },
      items: [
        {
          name: '[communication][' + CRN + '][' + sessionId + '][date-day]',
          value: communication['date-day'],
          classes: "govuk-input--width-2",
          label: 'Day'
        },
        {
          name: '[communication][' + CRN + '][' + sessionId + '][date-month]',
          value: communication['date-month'],
          classes: "govuk-input--width-2",
          label: 'Month'
        },
        {
          name: '[communication][' + CRN + '][' + sessionId + '][date-year]',
          value: communication['date-year'],
          classes: "govuk-input--width-4",
          label: 'Year'
        }
      ],
      hint: {
        text: "For example, 20 5 2021"
      }
    }) }}
  {% endset %}

  {{ govukRadios({
    fieldset: {
      legend: {
        text: title,
        isPageHeading: true,
        classes: "govuk-label--xl govuk-!-margin-bottom-6"
      }
    },
    items: [
      {
        text: "Today"
      },
      {
        text: 'On another day',
        conditional: { html: otherDayHTML }
      }
    ]
  } | decorateFormAttributes(['communication', CRN, sessionId, 'type-of-date'])) }}

  {{ govukInput({
    label: {
      text: timeLabel,
      classes: "govuk-label--s"
    },
    classes: "govuk-input--width-5 time-field"
  } | decorateFormAttributes(['communication', CRN, sessionId, 'time'])) }}
{% endblock %}
