{% extends "_wizard-form.html" %}
{% set buttonText = 'Add text message' %}
{% set title = 'Check your answers before adding this text message' %}
{% set path = '/add-text/' + CRN + '/' + sessionId %}
{% set notStandardForm = true %}

{% block primary %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">{{ title }}</h1>
    </div>
  </div>

  {{ govukSummaryList({
    rows: [
      {
        key: { text: "From" },
        value: { text: communication['from'] if communication['from'] !== 'other' else communication['other-from'] },
        actions: {
          items: [
            {
              href: path + '/new',
              text: "Change",
              visuallyHiddenText: "sender"
            }
          ]
        }
      },
      {
        key: { text: "To" },
        value: { text: communication['to'] if communication['to'] !== 'other' else communication['other-to'] },
        actions: {
          items: [
            {
              href: path + '/receiver',
              text: "Change",
              visuallyHiddenText: "receipient"
            }
          ]
        }
      },
      {
        key: { text: "Date" },
        value: { text: (today() | dateWithYear if communication['type-of-date'] === 'Today' else isoDateFromDateInputs(communication['date-year'], communication['date-month'], communication['date-day']) | dateWithYear) + ' at ' + communication['time'] | govukTime },
        actions: {
          items: [
            {
              href: path + '/when',
              text: "Change",
              visuallyHiddenText: "date"
            }
          ]
        }
      },
      {
        key: { text: "Details" },
        value: { text: communication['contents'] },
        actions: {
          items: [
            {
              href: path + '/details',
              text: "Change",
              visuallyHiddenText: "details"
            }
          ]
        }
      },
      {
        key: { text: "Sensitive" },
        value: { text: communication['sensitive'] },
        actions: {
          items: [
            {
              href: path + '/sensitive',
              text: "Change",
              visuallyHiddenText: "if this was sensitive"
            }
          ]
        }
      }
    ]
  }) }}

  <form method="post" autocomplete="off" action="{{ paths.current }}">
    {{ govukButton({
      html: buttonText
    }) }}
  </form>
{% endblock %}
