{% extends "_wizard-form.html" %}
{% set userSentEmail = data['communication'][CRN][sessionId]['from'] == userName(data) %}
{% set title = 'When did you send the text message?' if userSentEmail else 'When was the text message received?' %}
{% set timeLabel = 'What time was the text message sent?' %}

{% block form %}
  {% set otherDayHTML %}
    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset" role="group">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
          Date
        </legend>
        <div class="govuk-date-input">
          <div class="govuk-date-input__item">
            <div class="govuk-form-group">
              <input
                class="govuk-input govuk-date-input__input"
                type="date"
                id="[communication][{{CRN}}][{{sessionId}}][date]"
                name="[communication][{{CRN}}][{{sessionId}}][date]"
                value="{{ data['communication'][CRN][sessionId]['date'] }}"
                placeholder="DD/MM/YYYY">
            </div>
          </div>
        </div>
      </fieldset>
    </div>
  {% endset %}

  {{ govukRadios({
    fieldset: {
      legend: {
        text: title,
        isPageHeading: true,
        classes: "govuk-label--xl govuk-!-margin-bottom-6"
      }
    },
    items: [
      {
        text: "Today"
      },
      {
        text: 'On another day',
        conditional: { html: otherDayHTML }
      }
    ]
  } | decorateFormAttributes(['communication', CRN, sessionId, 'type-of-date'])) }}

  <div class="govuk-form-group app-time-autocomplete">
    <div class="autocomplete">
      <label class="govuk-label govuk-label--m" for="other-communication-time">
        {{ timeLabel }}
      </label>
      <input
        class="govuk-input govuk-input--width-5"
        type="text"
        id="other-communication-time"
        name="[communication][{{CRN}}][{{sessionId}}][time]"
        value="{{ data['communication'][CRN][sessionId]['time'] }}">
    </div>
  </div>
{% endblock %}
