.app-card__one-third-column-list {
  @include govuk-font($size: 16);
  margin-bottom: govuk-spacing(4);
}

@media (min-width: 40.0625em) {
  .app-card__one-third-column-list {
    @include govuk-font($size: 19);
  }
}

.app-card__one-third-column-list-item {
  margin-bottom: govuk-spacing(2);
}

.app-card__one-third-column-list-key, .app-card__one-third-column-list-value {
  display: block;
}

.app-card__one-third-column-list-key {
  font-weight: 700;
}

.app-card__one-third-column-list-value {
  margin: 0;
}
