{% extends "_wizard-form.html" %}
{% set userSentEmail = communication['from'] == userName(data) %}
{% set title = 'When did you send the email?' if userSentEmail else 'When was the email received?' %}
{% set timeLabel = 'What time did you send it?' if userSentEmail else 'What time was it received?' %}

{% block form %}
  {% set otherDayHTML %}
    {{ govukDateInput({
      id: 'session-date',
      fieldset: {
        legend: {
          text: "Date",
          classes: "govuk-label--s"
        }
      },
      items: [
        {
          name: '[communication][' + CRN + '][' + sessionId + '][date-day]',
          value: communication['date-day'],
          classes: "govuk-input--width-2",
          label: 'Day'
        },
        {
          name: '[communication][' + CRN + '][' + sessionId + '][date-month]',
          value: communication['date-month'],
          classes: "govuk-input--width-2",
          label: 'Month'
        },
        {
          name: '[communication][' + CRN + '][' + sessionId + '][date-year]',
          value: communication['date-year'],
          classes: "govuk-input--width-4",
          label: 'Year'
        }
      ],
      hint: {
        text: "For example, 20 5 2021"
      }
    }) }}
  {% endset %}

  {{ govukRadios({
    fieldset: {
      legend: {
        text: title,
        isPageHeading: true,
        classes: "govuk-label--xl govuk-!-margin-bottom-6"
      }
    },
    items: [
      {
        text: "Today"
      },
      {
        text: 'On another day',
        conditional: { html: otherDayHTML }
      }
    ]
  } | decorateFormAttributes(['communication', CRN, sessionId, 'type-of-date'])) }}

  <div class="govuk-form-group app-time-autocomplete">
    <div class="autocomplete">
      <label class="govuk-label govuk-label--m" for="other-communication-time">
        {{ timeLabel }}
      </label>
      <input
        class="govuk-input govuk-input--width-5 time-field"
        type="text"
        id="other-communication-time"
        name="[communication][{{CRN}}][{{sessionId}}][time]"
        value="{{ communication['time'] }}">
    </div>
  </div>
{% endblock %}
