{% extends "_wizard-page.html" %}
{% set buttonText = 'Finish' %}
{% set title = 'Appointment cancelled' %}

{% block page %}
  {% set session = arrangedSession({
    providerCode: data['provider-code'],
    typeOfSession: appointment['type-of-session'],
    contactType: appointment['other-type-of-session'],
    date: appointment['session-date'],
    day: appointment['session-date-day'],
    month: appointment['session-date-month'],
    year: appointment['session-date-year'],
    startTime: appointment['session-start-time'],
    endTime: appointment['session-end-time'],
    countsTowardsRAR: appointment['session-counts-towards-rar'] == 'Yes',
    rarCategory: appointment['session-rar-category'],
    rarSubCategory: appointment['session-rar-subcategory'],
    locationCode: appointment['session-location-code']
  }) %}

  {% set panelHtml %}
    <strong>{{ session.summary.typeOfSession }}</strong><br />
    {{ session.summary.date | dateWithDayAndWithoutYear }} from {{ appointment['session-start-time'] | govukTime }} to {{ appointment['session-end-time'] | govukTime }}
  {% endset %}

  {{ govukPanel({
    titleText: title,
    html: panelHtml
  }) }}

  <h2 class="govuk-heading-m govuk-!-margin-top-6">Next steps</h2>
  <p class="govuk-body">
    Remove this appointment from your calendar.
  </p>
  <p class="govuk-body">
    Let {{ case.serviceUserPersonalDetails.firstName }} know.<br>
    {{ case.serviceUserPersonalDetails.firstName }}’s phone number is <strong>{{ case.serviceUserPersonalDetails.phone }}</strong>.</p>
{% endblock %}
