{% extends "_wizard-form.html" %}
{% set rearranging = appointment['rearrange-or-cancel'] %}
{% set buttonText = 'Confirm rearranged appointment' if rearranging else 'Confirm this appointment' %}
{% set title = 'Check your answers and confirm appointment' %}
{% set notStandardForm = true %}

{% block primary %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">{{ title }}</h1>
    </div>
  </div>

  <form method="post" autocomplete="off" action="{{ paths.current }}">
    {% set showAction = true %}
    {% include 'arrange-appointment/_appointment-details.html' %}

    {{ govukButton({
      html: buttonText
    }) }}
  </form>
{% endblock %}
