{% extends "_wizard-form.html" %}
{% set title = 'What will this appointment count towards?' %}
{% set buttonText = 'Continue' %}

{% block form %}
  {% set rarRadioItems = [] %}
  {% for rarCategory in possibleRARCategories(
    data['provider-code'],
    appointment['type-of-session'],
    appointment['other-type-of-session']) %}
    {% set rarRadioItems = (rarRadioItems.push({
      text: rarCategory.description
    }), rarRadioItems) %}
  {% endfor %}

  {{ govukRadios({
      fieldset: {
        legend: {
          text: title,
          classes: "govuk-label--xl",
          isPageHeading: true
        }
      },
      items: rarRadioItems
  } | decorateFormAttributes(['communication', CRN, sessionId, 'session-rar-category'])) }}
{% endblock %}
