{% extends "_wizard-form.html" %}
{% set isRepeating = data.communication[CRN][sessionId].repeating == 'Yes' %}
{% set title = 'What will this appointment count towards?' %}
{% set buttonText = 'Continue' %}

{% block form %}
  {% set rarRadioItems = [] %}
  {% for rarCategory in possibleRARCategories(
    data['provider-code'],
    appointment['type-of-session'],
    appointment['other-type-of-session']) %}
    {% set rarRadioItems = (rarRadioItems.push({
      text: rarCategory.description
    }), rarRadioItems) %}
  {% endfor %}

  {{ govukRadios({
      fieldset: {
        legend: {
          text: title,
          classes: "govuk-label--xl",
          isPageHeading: true
        }
      },
      items: rarRadioItems
  } | decorateFormAttributes(['communication', CRN, sessionId, 'session-rar-category'])) }}

  {% if isRepeating %}
    {{ govukRadios({
      fieldset: {
        legend: {
          text: 'Will this also count towards repeat appointments?',
          classes: "govuk-label--s"
        }
      },
      items: [
        {
          text: 'Yes'
        },
        {
          text: 'No, only this appointment'
        }
      ]
    } | decorateFormAttributes(['communication', CRN, sessionId, 'repeating-session-counts-towards-rar'])) }}
  {% endif %}
{% endblock %}
