{% extends "layout.html" %}
{% set signedOut = true %}
{% set title = "Sign in" %}
{% block pageTitle %}{{ title }}{% endblock %}

{% block content %}
<h1 class="govuk-heading-xl">Sign in</h1>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form action="/cases" method="post" class="form">
      {{ govukInput({
        label: {
          text: "Name",
          classes: "govuk-label--s"
        }
      } | decorateFormAttributes(['user', 'name'])) }}

      {{ govukInput({
        label: {
          text: "Team",
          classes: "govuk-label--s"
        }
      } | decorateFormAttributes(['user', 'team'])) }}

      {{ govukButton({
        text: "Sign in"
      }) }}
    </form>
  </div>
</div>
{% endblock %}
