{% extends "_wizard-form.html" %}
{% set buttonText = 'Add ' + data['communication'][CRN][sessionId]['type'] | lower %}
{% set title = 'Check your answers' %}

{% block form %}
  <h1 class="govuk-heading-xl">{{ title }}</h1>

  {{ govukSummaryList({
    rows: [
      {
        key: { text: "Type" },
        value: { text: data['communication'][CRN][sessionId]['type'] }
      },
      {
        key: { text: "Date" },
        value: { text: today() | dateWithYear if data['communication'][CRN][sessionId]['type-of-date'] === 'Today' else data['communication'][CRN][sessionId]['date'] | dateWithYear  }
      },
      {
        key: { text: "Time" },
        value: { text: data['communication'][CRN][sessionId]['time'] }
      },
      {
        key: { text: "From" },
        value: { text: data['communication'][CRN][sessionId]['from'] }
      },
      {
        key: { text: "To" },
        value: { text: data['communication'][CRN][sessionId]['to'] }
      },
      {
        key: { text: "Details" },
        value: { text: data['communication'][CRN][sessionId]['contents'] }
      }
    ]
  }) }}
{% endblock %}
