{% extends "_wizard-form.html" %}
{%- set label -%}
  {%- switch type -%}
  {%- case 'phonecall' -%}
    phone call
  {%- case 'text' -%}
    text message
  {%- case 'email' -%}
    email
  {%- endswitch -%}
{%- endset %}
{% set title = ('Add an ' + label if label === 'email' else 'Add a ' + label ) %}

{% block form %}
<h1 class="govuk-heading-xl govuk-!-margin-bottom-6">
  {{ title }}
</h1>

  {% set whenLegendText = ('When was the ' + label + '?') if label === 'phone call' else 'When did the ' + label + ' arrive?' %}

  {% set otherDayHTML %}
    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset" role="group">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
          Date
        </legend>
        <div class="govuk-date-input">
          <div class="govuk-date-input__item">
            <div class="govuk-form-group">
              <input
                class="govuk-input govuk-date-input__input"
                type="date"
                id="[communication][{{CRN}}][{{sessionId}}][date]"
                name="[communication][{{CRN}}][{{sessionId}}][date]"
                value="{{ data['communication'][CRN][sessionId]['date'] }}"
                placeholder="DD/MM/YYYY">
            </div>
          </div>
        </div>
      </fieldset>
    </div>
  {% endset %}

  {{ govukRadios({
    fieldset: {
      legend: {
        text: whenLegendText,
        classes: "govuk-label--m govuk-!-margin-bottom-6"
      }
    },
    items: [
      {
        text: "Today"
      },
      {
        text: 'On another day',
        conditional: { html: otherDayHTML }
      }
    ]
  } | decorateFormAttributes(['communication', CRN, sessionId, 'type-of-date'])) }}

  <div class="govuk-form-group app-time-autocomplete">
    <div class="autocomplete">
      <label class="govuk-label govuk-label--m" for="other-communication-time">
        {% if label === 'phone call' %}
          What time was the {{ label }}?
        {% else %}
          What time did the {{ label }} arrive?
        {% endif %}
      </label>
      <input
        class="govuk-input govuk-input--width-5"
        type="text"
        id="other-communication-time"
        name="[communication][{{CRN}}][{{sessionId}}][time]"
        value="{{ data['communication'][CRN][sessionId]['time'] }}">
    </div>
  </div>

  {% set toOtherHtml %}
    {{ govukInput({
      label: {
        text: "Recipient"
      },
      classes: 'govuk-!-width-two-thirds'
    } | decorateFormAttributes(['communication', CRN, sessionId, 'other-to'])) }}
  {% endset %}

  {{ govukRadios({
    fieldset: {
      legend: {
        text: 'Who was the ' + label + ' to?',
        classes: "govuk-label--m govuk-!-margin-bottom-6"
      }
    },
    items: [
      {
        text: case.serviceUserPersonalDetails.firstName
      },
      {
        text: 'You',
        value: userName(data)
      },
      {
        text: 'Other',
        conditional: { html: toOtherHtml }
      }
    ]
  } | decorateFormAttributes(['communication', CRN, sessionId, 'to'])) }}

  {% set fromOtherHtml %}
    {{ govukInput({
      label: {
        text: "Sender"
      },
      classes: 'govuk-!-width-two-thirds'
    } | decorateFormAttributes(['communication', CRN, sessionId, 'other-from'])) }}
  {% endset %}

  {{ govukRadios({
    fieldset: {
      legend: {
        text: 'Who was the ' + label + ' from?',
        classes: "govuk-label--m govuk-!-margin-bottom-6"
      }
    },
    items: [
      {
        text: case.serviceUserPersonalDetails.firstName
      },
      {
        text: 'You',
        value: userName(data)
      },
      {
        text: 'Other',
        conditional: { html: fromOtherHtml }
      }
    ]
  } | decorateFormAttributes(['communication', CRN, sessionId, 'from'])) }}

  {{ govukTextarea({
    label: {
      text: 'Details',
      classes: 'govuk-label--m'
    }
  } | decorateFormAttributes(['communication', CRN, sessionId, 'contents'])) }}

  <input type="hidden" id="type" name="[communication][{{ CRN }}][{{ sessionId }}][type]" value="{{ label | capitalize }}">
  <input type="hidden" id="lastUpdatedBy" name="[communication][{{ CRN }}][{{ sessionId }}][lastUpdatedBy]" value="{{ userName(data) }}">
  <input type="hidden" id="sessionId" name="[communication][{{ CRN }}][{{ sessionId }}][sessionId]" value="{{ sessionId }}">

{% endblock %}
