{% set complianceText = case.serviceUserPersonalDetails.firstName + ' was absent' if data['communication'][CRN][sessionId]['did-service-user-comply'] == 'Absent' else data['communication'][CRN][sessionId]['did-service-user-comply']  %}

{% set uploadedFilesHtml %}
  {% for file in data['communication'][CRN][sessionId]['filenames'] | forceArray %}
    <a href="#">{{ file }}</a><br />
  {% endfor %}
{% endset %}

{{ govukSummaryList({
  classes: 'govuk-!-margin-bottom-9',
  rows: [
    {
      key: { text: "Complied" },
      value: { text: complianceText },
      actions: {
        items: [
          {
            href: "compliance",
            text: "Change",
            visuallyHiddenText: "complied"
          }
        ]
      } if showAction
    },
    {
      key: { text: "RAR activity" },
      value: { text: data['communication'][CRN][sessionId]['session-rar-category'] if data['communication'][CRN][sessionId]['session-counts-towards-rar'] == 'Yes' else 'No'  },
      actions: {
        items: [
          {
            href: "rar",
            text: "Change",
            visuallyHiddenText: "RAR activity"
          }
        ]
      } if showAction
    },
    {
      key: { text: "RAR activity subcategory" },
      value: { text: data['communication'][CRN][sessionId]['session-rar-subcategory'] },
      actions: {
        items: [
          {
            href: "rar",
            text: "Change",
            visuallyHiddenText: "RAR activity"
          }
        ]
      } if showAction
    } if data['communication'][CRN][sessionId]['session-counts-towards-rar'] == 'Yes',
    {
      key: { text: "Appointment notes" },
      value: {
        html: data['communication'][CRN][sessionId]['session-notes'] | nl2br | safe if data['communication'][CRN][sessionId]['session-notes'] else 'None'
      },
      actions: {
        items: [
          {
            href: "notes",
            text: "Change",
            visuallyHiddenText: "appointment notes"
          }
        ]
      } if showAction
    },
    {
      key: { text: "Uploaded files" },
      value: {
        html: uploadedFilesHtml
      },
      actions: {
        items: [
          {
            href: "notes",
            text: "Change",
            visuallyHiddenText: "uploaded files"
          }
        ]
      } if showAction
    } if data['communication'][CRN][sessionId]['filenames'].length > 0
  ]
  }) }}
