{% set complianceText %}
  {%- if (appointment['did-service-user-comply'] === 'Yes') or (appointment['did-service-user-comply'] === 'No') -%}
    {{ appointment['did-service-user-comply'] }}
  {%- elif appointment['did-service-user-comply'] === 'Absent' and appointment['was-absence-acceptable'] === 'Yes' -%}
    Acceptable absence
  {%- elif appointment['did-service-user-comply'] === 'Absent' and appointment['was-absence-acceptable'] === 'No' -%}
    Unacceptable absence
  {%- endif -%}
{% endset %}

{% set uploadedFilesHtml %}
  {% for file in appointment['filenames'] | forceArray %}
    <a href="#">{{ file }}</a><br />
  {% endfor %}
{% endset %}

{{ govukSummaryList({
  classes: 'govuk-!-margin-bottom-9',
  rows: [
    {
      key: { text: "Appointment" },
      value: { html: appointment['type-of-session'] + '<br />' + appointment['session-date'] | dateWithDayAndWithoutYear + ' from ' + appointment['session-start-time'] + ' to ' + appointment['session-end-time'] }
    } if checkingAnswers,
    {
      key: { text: "Complied" },
      value: { text: complianceText },
      actions: {
        items: [
          {
            href: "compliance",
            text: "Change",
            visuallyHiddenText: "complied"
          }
        ]
      } if checkingAnswers
    },
    {
      key: { text: "Reason for not complying" },
      value: { text: appointment['non-compliance-reason'] if appointment['non-compliance-reason'] !== 'Other' else appointment['non-compliance-reason-other'] },
      actions: {
        items: [
          {
            href: "compliance",
            text: "Change",
            visuallyHiddenText: "reason for not complying"
          }
        ]
      } if checkingAnswers
    } if appointment['did-service-user-comply'] === 'No',
    {
      key: { text: "Reason for absence" },
      value: { text: appointment['why-absence-acceptable'] if appointment['was-absence-acceptable'] === 'Yes' },
      actions: {
        items: [
          {
            href: "absence-acceptable",
            text: "Change",
            visuallyHiddenText: "reason for absence"
          }
        ]
      } if checkingAnswers
    } if appointment['was-absence-acceptable'] === 'Yes',
    {
      key: { text: "RAR activity" },
      value: { text: appointment['session-rar-category'] if appointment['session-counts-towards-rar'] == 'Yes' else 'No'  },
      actions: {
        items: [
          {
            href: "rar",
            text: "Change",
            visuallyHiddenText: "RAR activity"
          }
        ]
      } if checkingAnswers
    },
    {
      key: { text: "Appointment notes" },
      value: {
        html: (appointment['session-notes'] | nl2br | safe) if appointment['session-notes'] else 'None'
      },
      actions: {
        items: [
          {
            href: notesEditPath or "notes",
            text: "Change",
            visuallyHiddenText: "appointment notes"
          }
        ]
      } if checkingAnswers or notesEditPath
    },
    {
      key: { text: "Uploaded files" },
      value: {
        html: uploadedFilesHtml
      },
      actions: {
        items: [
          {
            href: "notes",
            text: "Change",
            visuallyHiddenText: "uploaded files"
          }
        ]
      } if checkingAnswers
    } if appointment['filenames'].length > 0,
    {
      key: { text: "Sensitive" },
      value: { text: data['communication'][CRN][sessionId]['sensitive'] },
      actions: {
        items: [
          {
            href: path + '/sensitive',
            text: "Change",
            visuallyHiddenText: "if this was sensitive"
          }
        ]
      } if showAction
    }
  ]
  }) }}
