{% set complianceText %}
  {%- if (entry['did-service-user-comply'] === 'Yes') or (entry['did-service-user-comply'] === 'No') -%}
    {{ entry['did-service-user-comply'] }}
  {%- elif entry['did-service-user-comply'] === 'Absent' and entry['was-absence-acceptable'] === 'Yes' -%}
    Acceptable absence
  {%- elif entry['did-service-user-comply'] === 'Absent' and entry['was-absence-acceptable'] === 'No' -%}
    Unacceptable absence
  {%- endif -%}
{% endset %}

{% set uploadedFilesHtml %}
  {% for file in data['communication'][CRN][sessionId]['filenames'] | forceArray %}
    <a href="#">{{ file }}</a><br />
  {% endfor %}
{% endset %}

{{ govukSummaryList({
  classes: 'govuk-!-margin-bottom-9',
  rows: [
    {
      key: { text: "Complied" },
      value: { text: complianceText },
      actions: {
        items: [
          {
            href: "compliance",
            text: "Change",
            visuallyHiddenText: "complied"
          }
        ]
      } if showAction
    },
    {
      key: { text: "Reason for not complying" },
      value: { text: entry['non-compliance-reason'] if entry['non-compliance-reason'] !== 'Other' else entry['non-compliance-reason-other'] },
      actions: {
        items: [
          {
            href: "compliance",
            text: "Change",
            visuallyHiddenText: "reason for not complying"
          }
        ]
      } if showAction
    } if entry['did-service-user-comply'] === 'No',
    {
      key: { text: "Reason for absence" },
      value: { text: entry['why-absence-acceptable'] if entry['was-absence-acceptable'] === 'Yes' },
      actions: {
        items: [
          {
            href: "absence-acceptable",
            text: "Change",
            visuallyHiddenText: "reason for absence"
          }
        ]
      } if showAction
    } if entry['was-absence-acceptable'] === 'Yes',
    {
      key: { text: "RAR activity" },
      value: { text: data['communication'][CRN][sessionId]['session-rar-category'] if data['communication'][CRN][sessionId]['session-counts-towards-rar'] == 'Yes' else 'No'  },
      actions: {
        items: [
          {
            href: "rar",
            text: "Change",
            visuallyHiddenText: "RAR activity"
          }
        ]
      } if showAction
    },
    {
      key: { text: "RAR activity subcategory" },
      value: { text: data['communication'][CRN][sessionId]['session-rar-subcategory'] },
      actions: {
        items: [
          {
            href: "rar",
            text: "Change",
            visuallyHiddenText: "RAR activity"
          }
        ]
      } if showAction
    } if data['communication'][CRN][sessionId]['session-counts-towards-rar'] == 'Yes',
    {
      key: { text: "Appointment notes" },
      value: {
        html: data['communication'][CRN][sessionId]['session-notes'] | nl2br | safe if data['communication'][CRN][sessionId]['session-notes'] else 'None'
      },
      actions: {
        items: [
          {
            href: notesEditPath or "notes",
            text: "Change",
            visuallyHiddenText: "appointment notes"
          }
        ]
      } if showAction or notesEditPath
    },
    {
      key: { text: "Uploaded files" },
      value: {
        html: uploadedFilesHtml
      },
      actions: {
        items: [
          {
            href: "notes",
            text: "Change",
            visuallyHiddenText: "uploaded files"
          }
        ]
      } if showAction
    } if data['communication'][CRN][sessionId]['filenames'].length > 0
  ]
  }) }}
