{% extends "_wizard-form.html" %}
{% set title = "Was " + case.serviceUserPersonalDetails.firstName + "’s absence acceptable?" %}

{% block form %}
  {% set reasons = acceptableAbsenceReasons(data['provider-code'], appointment['type-of-session'], appointment['other-type-of-session']) | sort %}

  {% set acceptableAbsenceReasonsRadioItems = [] %}
  {% for reason in reasons %}
    {% set acceptableAbsenceReasonsRadioItems = (acceptableAbsenceReasonsRadioItems.push({
      text: reason
    }), acceptableAbsenceReasonsRadioItems) %}
  {% endfor %}

  {% set whyAcceptableHtml %}
    {{ govukRadios({
       fieldset: {
         legend: {
           text: 'Why was Dylan absent?',
           classes: "govuk-!-font-weight-bold"
         }
       },
       items: acceptableAbsenceReasonsRadioItems
     } | decorateFormAttributes(['communication', CRN, sessionId, 'why-absence-acceptable']))
    }}
  {% endset %}

  {{ govukRadios({
       fieldset: {
         legend: {
           text: title,
           classes: "govuk-label--xl",
           isPageHeading: true
         }
       },
       items: [
         {
           text: 'Yes',
           value: 'Yes',
           conditional: {
             html: whyAcceptableHtml
           }
         },
         {
           text: 'No, ' + case.serviceUserPersonalDetails.firstName + "'s absence was unacceptable",
           value: 'No'
         }
       ]
       } | decorateFormAttributes(['communication', CRN, sessionId, 'was-absence-acceptable']))
  }}
{% endblock %}
