{% extends "_wizard-form.html" %}
{% set title = "Was " + case.serviceUserPersonalDetails.firstName + "’s absence acceptable?" %}

{% block form %}
  {% set whyAcceptableHtml %}
    {{ govukInput({
      label: {
        text: "Why was Dylan absent?",
        classes: "govuk-!-font-weight-bold"
      },
      hint: {
        text: "For example, childcare, court, holiday, medical, religious, remanded in custody, stood down, work or other"
      },
      classes: 'govuk-!-width-two-thirds'
    } | decorateFormAttributes(['communication', CRN, sessionId, 'why-absence-acceptable'])) }}
  {% endset %}

  {{ govukRadios({
       fieldset: {
         legend: {
           text: title,
           classes: "govuk-label--xl",
           isPageHeading: true
         }
       },
       name: 'session-counts-towards-rar',
       items: [
         {
           text: 'Yes',
           conditional: {
             html: whyAcceptableHtml
           }
         },
         {
           text: 'No, ' + case.serviceUserPersonalDetails.firstName + "'s absence was unacceptable"
         }
       ]
       } | decorateFormAttributes(['communication', CRN, sessionId, 'was-absence-acceptable']))
  }}
{% endblock %}
