{% extends "_wizard-form.html" %}
{% set buttonText = 'Confirm and record attendance' %}
{% set title = 'Check your answers and record attendance' %}
{% set notStandardForm = true %}

{% block primary %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">{{ title }}</h1>
    </div>
  </div>

  {% set checkingAnswers = true %}
  {% include 'confirm-attendance/_outcome-details.html' %}

  <form method="post" autocomplete="off" action="{{ paths.current }}">
    {{ govukButton({
      html: buttonText
    }) }}
  </form>
{% endblock %}
