{% extends "_wizard-form.html" %}
{% set buttonText = 'Confirm attendance' %}
{% set title = 'Check your answers' %}

{% block form %}
  <h1 class="govuk-heading-xl">{{ title }}</h1>

  {% set showAction = true %}
  {% include 'confirm-attendance/_outcome-details.html' %}

  <p class="govuk-body">You’re confirming attendance for:</p>

  <div class="govuk-inset-text">
    <strong>{{ appointment['type-of-session'] }}</strong><br>
    {{ appointment['session-date'] | dateWithDayAndWithoutYear }} from {{ appointment['session-start-time'] }} to {{ appointment['session-end-time'] }}
  </div>
{% endblock %}
