{% extends "_wizard-page.html" %}
{% set buttonText = 'Finish' %}
{% set title = "Attendance recorded" %}

{% block page %}

  {% set panelHtml %}
  <div class="govuk-!-font-size-27">
    <strong>{{ appointment['type-of-session'] }}</strong><br>
    {{ appointment['session-date'] | dateWithDayAndWithoutYear }} from {{ appointment['session-start-time'] }} to {{ appointment['session-end-time'] }}
  </div>
    {% endset %}

  {{ govukPanel({
    titleText: title,
    html: panelHtml
  }) }}

{% endblock %}
