{% extends "_wizard-page.html" %}
{% set buttonText = 'Arrange an appointment' %}
{% set title = "Attendance recorded" %}

{% block page %}

  {% set panelHtml %}
    <strong>{{ appointment['type-of-session'] }}</strong><br>
    {{ appointment['session-date'] | dateWithDayAndWithoutYear }} from {{ appointment['session-start-time'] }} to {{ appointment['session-end-time'] }}
  {% endset %}

  {{ govukPanel({
    titleText: title,
    html: panelHtml
  }) }}

  <h2 class="govuk-heading-m">Next steps</h2>

    <div style="margin-top: 20px;">
      <a class="govuk-body" href="/cases/{{ case.CRN }}/activity-log">Back to {{ case.serviceUserPersonalDetails.firstName }}’s communication</a>
    </div>
{% endblock %}
