{% extends "_wizard-form.html" %}
{% set title = "How did " + case.serviceUserPersonalDetails.firstName + " not comply?" %}
{% set buttonText = 'Continue' %}

{% block form %}
  {% set reasons = failureToComplyReasons(data['provider-code'], appointment['type-of-session'], appointment['other-type-of-session']) | sort %}

  {% set nonComplianceReasonsRadioItems = [] %}
  {% for reason in reasons %}
    {% set nonComplianceReasonsRadioItems = (nonComplianceReasonsRadioItems.push({
      text: reason | capitalize
    }), nonComplianceReasonsRadioItems) %}
  {% endfor %}

  {{ govukRadios({
      fieldset: {
        legend: {
          text: title,
          classes: "govuk-label--xl",
          isPageHeading: true
        }
      },
      items: nonComplianceReasonsRadioItems
  } | decorateFormAttributes(['communication', CRN, sessionId, 'non-compliance-reason'])) }}
{% endblock %}
