{% extends "_wizard-form.html" %}
{% set title = 'Does this appointment include sensitive information?' %}

{% block form %}
  {{ govukRadios({
    fieldset: {
      legend: {
        text: title,
        isPageHeading: true,
        classes: "govuk-label--xl govuk-!-margin-bottom-6"
      }
    },
    items: [
      {
        html: 'Yes, it includes sensitive information.<br />Some details must not be shared with ' + case.serviceUserPersonalDetails.firstName + '.',
        value: 'Yes'
      },
      {
        text: 'No, it is not sensitive',
        value: 'No'
      }
    ]
  } | decorateFormAttributes(['communication', CRN, sessionId, 'sensitive'])) }}

  {{ govukDetails({
    summaryText: "Help with sensitive content",
    text: ""
  }) }}
{% endblock %}
